<article class="content cards-page">
                    <div class="title-block">
                        <h3 class="title">
                           <span><a href="/projects"><i class="fa fa-arrow-circle-left"></i></a></span> Project Detail </h3>
                        <p class="title-description"> Contains information about project </p>
                    </div>
                    <section class="section">
                          <div class="row sameheight-container">
                                  <div class="col-md-3">
                                           <div class="card sameheight-item">
                                               <div class="card-block">
                                                   <div class="card-title-block">
                                                       <h3 class="title"> Project details </h3>
                                                   </div>
                                                   <section class="section">
                                                       <ul>
                                                           <li>Project name: <%=@project.name%></li>
                                                           <li>Description:<br>
                                                               <ul>
                                                                    <li>
                                                                       <%=@project.description%>
                                                                    </li>
                                                               </ul>
                                                           </li>
                                                           <li>Member list:<br>
                                                               <ul>
                                                                 <li><%=view_user_name(@project.author_id) %> - <%=project_role(1)%></li>
                                                             <%@project.members.each do |member|%>
                                                                 <li><%=view_user_name(member.user_id)%> - <%=project_role(member.role_id)%></li>
                                                             <%end%>

                                                               </ul>
                                                           </li>
                                                           <li>Project date:<br>
                                                               <ul>
                                                                   <li>Start date: <%=@project.start_time.strftime("%Y-%m-%d")%></li>
                                                                   <li>End date: <%=@project.end_time.strftime("%Y-%m-%d")%></li>
                                                               </ul>
                                                           </li>
                                                       </ul>
                                                   </section>
                                               </div>
                                           </div>
                                  </div>
                                  <div class="col-xl-9">
                                            <div class="card sameheight-item items" data-exclude="xs,sm,lg">
                                                <div class="card-header bordered">
                                                    <div class="header-block">
                                                        <h3 class="title">
                                                            Task list
                                                        </h3>
                                                        <a href="/tasks/new" class="btn btn-primary btn-sm rounded">
                                                            Add new
                                                        </a>
                                                    </div>
                                                    <div class="header-block pull-right">
                                                        <%= will_paginate @task_list, :page_links => false %>
                                                        <!--<div class="pagination">
                                                            <a href="" class="btn btn-primary btn-sm rounded">
                                                                <i class="fa fa-angle-up"></i>
                                                            </a>
                                                            <a href="" class="btn btn-primary btn-sm rounded">
                                                                <i class="fa fa-angle-down"></i>
                                                            </a>
                                                        </div>-->
                                                    </div>
                                                </div>
                                                <ul class="item-list striped">
                                                    <li class="item item-list-header hidden-sm-down">
                                                        <div class="item-row">
                                                            <div class="item-col item-col-header item-col-title">
                                                                <div>
                                                                    <span>Name</span>
                                                                </div>
                                                            </div>
                                                            <div class="item-col item-col-header item-col-author">
                                                                <div class="no-overflow">
                                                                    <span>Author</span>
                                                                </div>
                                                            </div>
                                                            <div class="item-col item-col-header item-col-author">
                                                                <div class="no-overflow">
                                                                    <span>Asignee</span>
                                                                </div>
                                                            </div>
                                                            <div class="item-col item-col-header item-col-author">
                                                                <div class="no-overflow">
                                                                    <span>Status</span>
                                                                </div>
                                                            </div>
                                                            <div class="item-col item-col-header item-col-date">
                                                                <div>
                                                                    <span>Start date</span>
                                                                </div>
                                                            </div>
                                                            <div class="item-col item-col-header item-col-date">
                                                                <div>
                                                                    <span>End date</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="item">
                                                        <%@task_list.each do |task| %>
                                                        <div class="item-row">
                                                            <div class="item-col item-col-title no-overflow">
                                                                <div>
                                                                    <a href="<%="/tasks/#{task.id}"%>">
                                                                        <h4 class="item-title no-wrap">
                                                                            <%= task.name%>
                                                                        </h4>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="item-col item-col-author">
                                                                <div class="item-heading">Author</div>
                                                                <div><%= view_user_name(task.assignner_id)%></div>
                                                            </div>
                                                            <div class="item-col item-col-author">
                                                                <div class="item-heading">Asignee</div>
                                                                <div class="no-overflow"><%= view_user_name(task.user_id) %></div>
                                                            </div>
                                                            <div class="item-col item-col-author">
                                                                <div class="item-heading">Status</div>
                                                                <div class="no-overflow"><%= task_status(task.status) %></div>
                                                            </div>
                                                            <div class="item-col item-col-date">
                                                                <div class="item-heading">Start date</div>
                                                                <div class="no-overflow">
                                                                    <%= task.start_time.strftime('%v')%>
                                                                </div>
                                                            </div>
                                                            <div class="item-col item-col-date">
                                                                <div class="item-heading">End date</div>
                                                                <div class="no-overflow">
                                                                    <%= task.end_time.strftime('%v')%>
                                                                </div>
                                                            </div>
                                                            <div class="item-col fixed item-col-actions-dropdown">
                                                                <div class="item-actions-dropdown">
                                                                    <a class="item-actions-toggle-btn"> <span class="inactive">
                                                                         <i class="fa fa-cog"></i>
                                                                         </span> <span class="active">
                                                                         <i class="fa fa-chevron-circle-right"></i>
                                                                    </span> </a>
                                                                    <div class="item-actions-block">
                                                                          <ul class="item-actions-list">
                                                                                <li>
                                                                                     <a class="remove" href="<%="/tasks/delete/#{task.id}"%>"> <i class="fa fa-trash-o "></i> </a>
                                                                                </li>
                                                                                <li>
                                                                                     <a class="edit" href="<%="/tasks/edit/#{task.id}"%>"> <i class="fa fa-pencil"></i> </a>
                                                                                </li>
                                                                          </ul>
                                                                    </div>
                                                                 </div>
                                                            </div>
                                                        </div>
                                                        <%end%>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        </div>
                          </div>

                    </section>
                </article>
